.sec4wrapper {
  margin-bottom: 50px;
}

.innerCard {
  height: 20.625rem;
  width: 20%;
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  margin: 0.5rem;
  gap: 2rem;
  text-align: center;
  background-color: #f9f9f9;
}
.innerCard img {
  height: 100px;
  width: 100%;
  aspect-ratio:16/1;
}

.innerCard button {
  display: flex;
  height: 50px;
  width: 200px;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #003057;
  border-radius: 5px;
  color: #003057;
  gap: 5px;
}
.innerCard button:hover {
  background-color: #003057;
  color: white;
}
.sec4cardWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.heading {
  padding: 2rem;

  height: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  align-items: center;
}

.heading span {
  text-decoration: underline;
}
.heading h1 {
  font-weight: 800;
}
@media (max-width: 480px) {


  .innerCard{
    width: 100%;
  }

  .innerCard img{
    width: 80%;
    height: 50%;
  }
  .innerCard p{
    line-height: 150%;
    width: 50%;
  }
}