.ddMenuBox {
  width: 100vw;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
.innerBox {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  padding: 2rem 15rem;
}
.menuLists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}
.menuLists h4 {
  color: #262628;
  font-size: 14px;
  font-family: Proxima Nova;
  font-weight: 700;
  line-height: 150%;
}
.menuLists li {
  display: flex;
  padding: 8px 8px 8px 24px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  cursor: pointer;
  border-bottom: 1px solid rgb(201, 197, 197);
}
.menuLists li:hover {
  background: var(--light-theme-bg-color-surface-alt, #f1f1f1);
  box-shadow: 0px -1px 0px 0px #f1f1f1 inset;
}
