.sec8wrapperDiv{
    display: flex;
    justify-content: space-around;

}
.wrapperdiv{
    height: 16rem;
    /* background-color: red; */

    width:26rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 50px;
}

.wrapperdiv h1{
    /* border: 2px solid; */
    width: 50%;
    color: white;

}
.wrapperdiv button{
    border: 2px solid;
    width: 7rem;
    height: 3.1rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: transparent;
}
@media screen and (max-width:768px) {
    .sec8wrapperDiv{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        
    }
    .wrapperdiv{
        /* width: 100%; */
        width: 100%;
        gap: 1.5rem;
        display: flex;
        justify-content: space-around;
       
    }
 
}
@media screen and (max-width:780px) {
.wrapperdiv {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0;
    justify-content:center;
    
    
}
.wrapperdiv button{
    margin-top: 1rem;
    width: 16rem;

}


}